.main {
  display: flex;
  height: calc(100vh - 65px);
  overflow-y: auto;
  color: #fff;
  position: relative;
}

.main>* {
  height: 100%;
}


.logoDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburgerBtn {
  border-radius: 3px;
  font-size: 1.2rem;
  background: none;
  color: #fff;
  padding: 5px 0 0;
}

.profileInfo {
  display: none;
  align-items: center;
  gap: 2.5rem;
}

.profileImg {
  border-radius: 50%;
}

.icon {
  font-size: 1.7rem;
}


.searchBtn {
  font-size: 1.1rem;
  color: #f59494;
  transition: 0.3s linear;
}


@media Screen and (min-width: 750px) {
  .profileInfo {
    display: flex;
  }

  .hamburgerBtn {
    display: none;
  }
}



@media (hover:hover) {
  .searchBtn:hover {
    color: #85cbfa;
  }
}